<div class="col-sm">
      
    <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Purchases</h5>
        <div class="card-header">
            New purchase
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View purchases
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Reorder
        </div>
        <p class="card-text"></p>
      </div>
    </div>

  </div>