<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Inventory Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container starter-template">
  <div class="row">
  <!-- supplier component -->
  <div class="col-sm">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          
          <div class="btn-group" ngbDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                  select below          
              </button>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item"  routerLink="/app-new-supplier">New supplier</a> 
                <a  class="dropdown-item"  routerLink="/app-view-suppliers">View suppliers</a> 
              </div>
            </div>
        </div>
      
         
        </div>
      </div> 
      
  <!-- purchases component -->
  <div class="col-sm">
      
      
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Purchases</h5>

          <div class="btn-group" ngbDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                  select below      
              </button>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item"  routerLink="/app-new-purchase">New purchase</a> 
                <a  class="dropdown-item"  routerLink="/app-view-purchases">View purchases</a> 
                <a  class="dropdown-item"  routerLink="/app-reorder">Reorder</a> 
              </div>
            </div>
        </div>
      </div> 
  
    </div>
    <!-- Inventory component -->
    <div class="col-sm">
      
         <div class="card" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Inventory</h5>
            <span data-feather="shopping-cart"></span>
    
            <div class="btn-group" ngbDropdown>
                <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                  select below      
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item"  routerLink="/app-view-stock">View Stock</a> 
                  <a  class="dropdown-item"  routerLink="/app-stock-take"> Stock Take</a> 
                  <a  class="dropdown-item"  routerLink="/app-stock-tranfer">Stock Tranfers</a> 
                  <a class="dropdown-item"  routerLink="/app-stock-changes">Stock Changes</a> 
                  <a  class="dropdown-item"  routerLink="/app-new-product">New Product</a> 
                  <a  class="dropdown-item"  routerLink="/app-view-products"> View Products</a> 
                </div>
              </div>
          </div>
        </div> 
        
    
      </div>
<!-- sales component     -->
<div class="col-sm">
      
     <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Sales</h5>

        <div class="btn-group" ngbDropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                Select below        
            </button>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu> 
              <a  class="dropdown-item"  routerLink="/app-new-quote"> New Qoute</a> 
              <a  class="dropdown-item"  routerLink="/app-view-quotes">View Quotes</a> 
              <a class="dropdown-item"  routerLink="/app-new-sale"> New Sale</a> 
              <a  class="dropdown-item"  routerLink="/app-view-sales">View Sales</a> 
              <a  class="dropdown-item"  routerLink="/app-sales-returns"> Sale returns</a> 
            </div>
          </div>

      </div>
    </div> 
  

  </div>
  <!-- customers component -->
  <div class="col-sm">
      
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
  
         
          
          <div class="btn-group" ngbDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                  Select below          
              </button>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item"  routerLink="/app-new-customers">New Customer</a> 
                <a  class="dropdown-item"  routerLink="/app-view-customers">View Customers</a> 
              </div>
            </div>
  
        </div>
      </div>
  
    </div>
  </div>



  <router-outlet></router-outlet>
</div>