<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Inventory Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container starter-template">
  <div class="row">
  <!-- supplier component -->
  <div class="col-sm">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          <div class="card-header">
              Enter a new supplier
            </div>
          <p class="card-text"></p>
          
          <div class="card-header">
              View suppliers
          </div>
          <p class="card-text"></p>
         
        </div>
      </div>
    </div>
  
  <!-- purchases component -->
  <div class="col-sm">
      
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Purchases</h5>
          <div class="card-header">
              New purchase
          </div>
          <p class="card-text"></p>
  
          <div class="card-header">
              View purchases
          </div>
          <p class="card-text"></p>
  
          <div class="card-header">
              Reorder
          </div>
          <p class="card-text"></p>
        </div>
      </div>
  
    </div>
    <!-- Inventory component -->
    <div class="col-sm">
      
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Inventory</h5>
    
            <div class="card-header">
                View Stock
            </div>
            <p class="card-text"></p>
    
            <div class="card-header">
                Stock Take
            </div>
            <p class="card-text"></p>
    
            <div class="card-header">
                Stock Tranfers
            </div>
            <p class="card-text"></p>
    
            <div class="card-header">
                Stock Changes
            </div>
            <p class="card-text"></p>
    
            <div class="card-header">
                New Product
            </div>
            <p class="card-text"></p>
    
            <div class="card-header">
                View Products
            </div>
            <p class="card-text"></p>
          </div>
        </div>
    
      </div>
<!-- sales component     -->
<div class="col-sm">
      
    <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Sales</h5>

        <div class="card-header">
            New Qoute
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View Quotes
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            New Sale
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View Sales
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Sale returns
        </div>
        <p class="card-text"></p>

      </div>
    </div>

  </div>
  <!-- customers component -->
  <div class="col-sm">
      
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
  
          <div class="card-header">
              New Customer
          </div>
          <p class="card-text"></p>
  
          <div class="card-header">
              View Customers
          </div>
          <p class="card-text"></p>
  
        </div>
      </div>
  
    </div>
  </div>
</div>