<div class="col-sm">
      
    <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Sales</h5>

        <div class="card-header">
            New Qoute
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View Quotes
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            New Sale
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View Sales
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Sale returns
        </div>
        <p class="card-text"></p>

      </div>
    </div>

  </div>