<div class="col-sm">
      
    <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Inventory</h5>

        <div class="card-header">
            View Stock
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Stock Take
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Stock Tranfers
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            Stock Changes
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            New Product
        </div>
        <p class="card-text"></p>

        <div class="card-header">
            View Products
        </div>
        <p class="card-text"></p>
      </div>
    </div>

  </div>
